@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #071006;
  --foreground: #FFF2E6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Luxury Hide Scrollbar for a cleaner feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #071006;
}
::-webkit-scrollbar-thumb {
  background: #173117;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1D3D1C;
}

/* Basic utility to avoid ugly outlines */
*:focus {
  outline: none;
}